body {
    overflow: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    width: 50%;
    height: 300px;
    border: 1px solid black;
    vertical-align: top;
    position: relative;
}
.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    
}
.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.image-container img:nth-child(2) {
    top: 40px;
    left: 140px;
}
.image-container img:nth-child(3) {
    top: 80px;
    left: 280px;
}
.text-overlay {
    position: absolute;
    top: 160px; 
    left: 350px;
    width: 60px;
    color: red;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    hyphens: auto;
    word-wrap: break-word;
}
.moving-object{
    position: absolute;
    top: 80%;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    opacity: 0;
    animation: moveObject 6s linear 3;
}
@keyframes moveObject {
    0% {
        left: 0%; 
        opacity: 0; 
        transform: rotate(0deg);
        background-color: red;
    }
    25% {
        opacity: 1;
        background-color: yellow;
    }
    50% {
        left: 50%;
        transform: rotate(180deg);
        background-color: green;
    }
    75% {
        background-color: blue;
    }
    100% {
        left: 100%;
        opacity: 0;
        transform: rotate(360deg);
        background-color: purple;
    }
}
.second-column {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2etdH-rQmNKq1IntV4owTItOgHRfJl7xH5A&s');
    background-origin: content-box; /* Устанавливаем положение фона */
    background-repeat: repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнённый фон */
    color: white; /* Белый текст */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Тень для текста */
    column-count: 3; /* Разбиваем текст на три колонки */
    column-gap: 20px; /* Расстояние между колонками */
    padding: 20px;
}
.second-column p:first-of-type {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #ffcc00;
    margin-top: 0;
}
.second-column p:nth-of-type(2) {
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: #00ccff;
}
.second-column p:last-of-type {
    font-family: 'Courier New', monospace;
    font-size: 14px;
     color: #ff66cc;
}